mixin tabs(categories)
    .tabs
        .container
            .filter
                select#categorySelect
                    each category in categories
                        option(value=category)= category
            .pagination 
                button(type="button")#prevBtn prev
                #numbs
                button(type="button")#nextBtn next